@media (orientation: portrait) { body {background: white; color: indigo;}}
/*
@media (orientation: landscape) { body {background: black; color: red;}}
*/
@media (min-width: 320px) {
    p {color: peru;}
}
@media (min-width: 480px) {
    p {color: blue;}
}
@media (min-width: 768px) {
    p {color: aqua;}
}
@media (min-width: 1024px) {
    p {color: olive;}
}
@media (min-width: 1200px) {
    p {color: brown;}
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5rem;
    background-color: lightgray;
    width: 100dvw;
    height: 100dvh;
}
.grid {
    display: grid;
    gap: 0.25rem;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'H H H H'
    'N N N N'
    'M M M M'
    'F F F F';
}
header,nav, main, footer {
    background-color: ivory;
    padding: 0.5rem;
}
header {grid-area: H;}
nav {grid-area: N;}
main {grid-area: M; overflow-y: auto;}
footer {grid-area: F;}
.card {
    display: inline-block;
    width: 12rem;
    height: 18rem;
    outline: 1px solid black;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.card figure {
    height: 4rem;
    outline: 1px solid black;
}
.card figure img {
    height: 100%;
}
.card figure figcaption {
    padding: 0.25rem;
    outline: 1px solid black;
    background-color: bisque;
}
.card section {
    padding: 0.25rem;
    outline: 1px solid black;
    background-color: blanchedalmond;
}