*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5rem;
    background-color: lightgray;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    gap: 0.25rem;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'H H H H'
    'N N N N'
    'M M M M'
    'F F F F';
}
header,nav, main, footer {
    background-color: ivory;
    padding: 0.5rem;
}
header {grid-area: H;}
nav {grid-area: N;}
main {grid-area: M;}
footer {grid-area: F;}
.card {
    width: 12rem;
    height: 18rem;
    outline: 1px solid black;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.25rem;
}