@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root {
    --fnt--00: 'JetBrains Mono', consolas, sans-serif;
    --fnt--01: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fnt--02: 'Poppins', sans-serif;
    --fnt--03: 'Poiret One', cursive;
    --fnt--04: 'Antonio', sans-serif;
    --fnt--05: 'Oswald', sans-serif;
    --action: hsl(0, 100%, 46%);
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 100%);
    --tertiary: hsl(0, 0%, 13%);
    --quadiary: hsl(0, 0%, 87%);
    /* --gradient: ; */
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fnt--05);
    line-height: 1.6;
    /* background-color: black; */
    /* color: white; */
    /* border: 1px white; */
}
html {
    /* 16px to 10px */
    font-size: 62.5%;
    line-height: 1.6;
    scroll-behavior: smooth;
    word-wrap: normal;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 0.0625em 0.75em;
    text-decoration: none;
    text-align: center;
    color: var(--primary);
}
nav ul li ul.dropdown li {
    display: block;
}
nav ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: var(--secondary);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
    background-color: var(--action);
    color: var(--secondary);
}
nav ul li:hover ul.dropdown {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

body {
    font-size: 1.6rem;
    /* background-color: var(--primary); */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr .25fr .25fr 1.25fr 3.5fr .25fr;
    grid-template-columns: repeat(6 1fr);
    grid-template-areas:
        'h h n n n n'
        'e e e e s s'
        'e e e e r r'
        'e e e e r r'
        'e e e e r r'
        'e e e e f f';
    /* gap: 2em; */
    /* padding: 2em; */
    background: url("./img/dfs_logo_2023.png");
}

header {
    grid-area: h;
    color: var(--primary);
}
header img {
    display: inline-block;
    width: 3em;
    height: 3em;
}
header h1 {
    display: inline-block;
}
nav {
    grid-area: n;
}
iframe,
embed {
    grid-area: e;
    width: 100%;
    height: 100%;
    /* background-color: var(--secondary); */
}
main {
    grid-area: m;
}
footer {
    grid-area: f;
    color: var(--action);
}
#search_bar {
    grid-area: s;
    width: auto;
    color: var(--secondary);
    background-color: var(--quadiary);
    font-size: 1.1em;
    padding: 0 0.125em;
    border: none;
    outline: none;
    /*
    margin: 0 0.5em 0 0.5em
    */
}
#search_result {
    grid-area: r;
    overflow-y: auto;
}
#search_result a {
    display: block;
    color: var(--primary);
    text-decoration: none;
    padding: 0 0.5em;
}
#search_result a:hover {
    color: var(--action);
    text-decoration: underline;
}
#search_result .dirs {
    display: block;
    padding: 0 0.5em;
    background-color: var(--action);
    color: var(--secondary);
}
#search_result .dirs:hover {
    color: var(--tertiary);
}
/* #search_result .files {} */
/* #search_result .file {display: block;color: black; background-color: white;} */
header,
nav,
embed,
main,
footer,
#search_result {
    padding: 0.25em;
    /* background-color: var(--secondary); */
}

/*
*/
::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar:horizontal {
    height: 0.5em;
}
/*
*/
::-webkit-scrollbar-corner {
    background-color: transparent;
}
/*
border: 1px solid black;
*/
::-webkit-scrollbar-button {
    width: 0em;
    height: 0em;
}
/*
border: 1px solid green;
*/
::-webkit-scrollbar-thumb:hover {
    background-color: var(--action);
}
/*
border: 1px solid yellow;
*/
::-webkit-scrollbar-track {
    background-color: var(--quadiary);
}
/*
border-radius: 0.25em;
margin: 1em 0;
::-webkit-scrollbar-track-piece {
    border: 1px solid blueviolet;
}
*/
/*
::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
*/
.clayX {
    backdrop-filter: blur(5px);
    /* background-color: hsl(0, 0%, 100%); */
    /* border-radius: 26px; */
    border-radius: 0.5em;
    /* box-shadow:
        35px 35px 68px 0px hsla(214, 100%, 78%, 0.5),
        inset -8px -8px 16px 0px hsla(214, 100%, 78%, 0.6),
        inset 0px 11px 28px 0px hsl(0, 0%, 100%); */
}
