*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px dotted red; */
	font-family: "Century-Light", serif;
}
body {
	padding: 0.75rem;
	width: 100dvw;
	height: 100dvh;
	background-color: black;
}
.container {
	margin: 0 auto;
	background-image: url("../img/Are_You_Right_There_Father_Ted.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	position: relative;
	/* padding: 2%; */
	/* width: 600px; */
	/* height: 700px; */
	width: 100dvw;
	height: 100dvh;
	background-color: white;
	text-align: center;
}
.meme {
	margin: 0 auto;
	background-image: url("../img/Are_You_Right_There_Father_Ted.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	position: relative;
	/* padding: 2%; */
	/* width: 600px; */
	/* height: 700px; */
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}
/* .h1 {
	position: absolute;
	z-index: 1;
	top: 2%;
	left: 2%;
	right: 98%;
	bottom: 98%;
	width: auto;
} */
.p1 {
	font-family: "Libre Franklin", Helvetica, Arial, Verdana, sans-serif;
	position: absolute;
	/* z-index: 2; */
	/* top: 80%; */
	/* right: 2%; */
	/* left: 2%; */
	/* bottom: 15%; */
	inset: auto 4% 4% auto;
	width: 80%;
	height: auto;
	font-size: 22pt;
	text-align: right;
	color: ivory;
}
#question {
	font-family: "Libre Franklin", Helvetica, Arial, Verdana, sans-serif;
	font-size: 22pt;
}
.p2 {
	position: absolute;
	z-index: 3;
	/* top: auto; */
	/* left: 2%; */
	/* bottom: 2%; */
	/* right: 2%; */
	inset: auto 2% 2%;
	/* width: auto; */
	font-size: 15pt;
	text-transform: uppercase;
	color: white;
}
/* 
*/
/* inset: 10px; */
/* value applied to all edges */
/* inset: 4px 8px; */
/* top/bottom left/right */
/* inset: 5px 15px 10px; */
/* top left/right bottom */
/* inset: 2.4em 3em 3em 3em; */
/* top right bottom left */
	/*
	--top: 0;
	--right: -0.5rem;
	--bottom: -0.5rem;
	--left: 50%;
	inset: var(--top) var(--right) var(--bottom) var(--left);
	*/
.logo {
	position: absolute;
	z-index: 4;
	/* top: auto; */
	/* left: auto; */
	/* bottom: 9%; */
	/* right: auto; */
	inset: auto auto 9%;
	/* width: 10%; */
	height: 6%;
}
.stroke {
	text-shadow:
		2px 2px 0 black,
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
a {
	text-decoration: none;
	color: goldenrod;
}