@media (orientation: portrait) { body {background: white; color: indigo;}}
/*
@media (orientation: landscape) { body {background: black; color: red;}}
*/
@media (min-width: 320px) {
    p {color: peru;}
}
@media (min-width: 480px) {
    p {color: blue;}
}
@media (min-width: 768px) {
    p {color: aqua;}
}
@media (min-width: 1024px) {
    p {color: olive;}
}
@media (min-width: 1200px) {
    p {color: brown;}
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.25;
    /* outline: 1px dashed black; */
}
html {
    /* 16px to 10px */
    /* font-size: 62.5%; */
    /* line-height: 1.6; */
}
body {
    padding: 0.5rem;
    background-color: lightgray;
    width: 100dvw;
    height: 100dvh;
}
.grid {
    display: grid;
    gap: 0.25rem;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'H H H N'
    'M M M M'
    'M M M M'
    'F F F F';
}
header,nav, main, footer {
    background-color: ivory;
    padding: 0.5rem;
}
header {grid-area: H;}
nav {grid-area: N;}
main {grid-area: M; overflow-y: auto;}
footer {grid-area: F;}

header h1 {
    font-size: 26pt;
    color: white;
    -webkit-text-stroke: 2px red;
}

.card {
    /* display: inline-block; */
    background-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.card figure {
    height: 30%;
}
.card figure img {
    height: 70%;
}
.card figure figcaption {
    padding: 0.25rem;
    background-color: bisque;
    font-style: italic;
    text-align: center;
}
.card section {
    padding: 0.25rem;
    height: 70%;
    background-color: blanchedalmond;
}
.card section h3 {
    font-family: "Century-Light", serif;
    text-align: center;
}
.card section p {
    text-align: justify;
}

.card_1 { width: 192px; height: 336px; }
.card_2 { width: 240px; height: 408px; }
.card_3 { width: 240px; height: 432px; }
.card_4 { width: 264px; height: 456px; }
.card_5 { width: 408px; height: 480px; }
.card_6 { width: 408px; height: 960px; }
.card_7 { width: 816px; height: 1056px; }

.meme {
    padding: 0.5rem;
    background-image: url("..//img/Are_You_Right_There_Father_Ted.jpg");
    background-repeat: no-repeat;
    background-position: 62% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;

}
.meme p {
    /* position: relative; */
    text-wrap: pre-wrap;
    /* top: auto; */
    /* left: auto; */
    /* right: 0.5rem; */
    /* bottom: 1rem; */
    font-weight: 800;
    font-size: 1.9em;
    text-align: right;
    width: 70%;
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-size-adjust: 90%; */
    /* text-size-adjust: 90%; */
    /* -webkit-text-stroke-color: black; */
    /* -webkit-text-stroke-width: 0.125rem; */
    color: ivory;
    text-shadow:
        3px 3px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    float: inline-end;
    /* transform: translateY(100%); */
}