<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/page.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body class="page">
    <header>
        <h1 class="title">CONTACT</h1>
    </header>
    <main>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non, illo accusamus fuga perspiciatis atque eligendi quo suscipit id rem facilis? Dicta eaque facilis doloribus, nemo molestias odit eos perferendis vitae nesciunt illum illo quod commodi tenetur aliquid excepturi delectus ipsam suscipit quisquam voluptas nulla consectetur assumenda. Alias aut ipsam ipsa, voluptatem recusandae error vel omnis atque quae earum temporibus soluta, rerum architecto inventore maxime amet laudantium. Nam illo quod consectetur repudiandae. Quidem hic id, doloremque enim, nemo, architecto laudantium ipsa sed aliquam laboriosam eligendi labore. Repellendus doloribus cupiditate perferendis asperiores autem perspiciatis, cum sit, excepturi pariatur, voluptate tempore non?</p>
        </article>
    </main>
    <footer>footer</footer>
</body>
</html>